In [1]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

In [3]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=23%2F10%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=824008927864"
driver.get(url)
time.sleep(30)

In [4]:
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [5]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [6]:
df1=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})

In [7]:
df1['date_of_journey'] = '23-10-2021'

In [8]:
df1

,airline,source,destination,duration,total_stops,price,date_of_journey
0,Air Asia,09:25\nNew Delhi,16:00\nMumbai,6h 35m,1 Stop,"5,953",23-10-2021
1,Air Asia,12:40\nNew Delhi,20:15\nMumbai,7h 35m,1 Stop,"5,953",23-10-2021
2,Air Asia,11:55\nNew Delhi,20:15\nMumbai,8h 20m,1 Stop,"5,953",23-10-2021
3,Air Asia,18:40\nNew Delhi,06:20\n+ 1 day\nMumbai,11h 40m,1 Stop,"5,953",23-10-2021
4,Air Asia,08:00\nNew Delhi,22:10\nMumbai,14h 10m,1 Stop,"5,953",23-10-2021
...,...,...,...,...,...,...,...
124,Air India,04:55\nNew Delhi,14:25\nMumbai,9h 30m,1 Stop,"11,900",23-10-2021
125,Air India,21:15\nNew Delhi,15:55\n+ 1 day\nMumbai,18h 40m,2 Stop(s),"12,740",23-10-2021
126,Go First,12:20\nNew Delhi,18:15\nMumbai,5h 55m,1 Stop,"20,009",23-10-2021
127,Go First,11:20\nNew Delhi,18:15\nMumbai,6h 55m,1 Stop,"20,009",23-10-2021
128,Go First,09:10\nNew Delhi,18:15\nMumbai,9h 05m,1 Stop,"20,009",23-10-2021

In [9]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=24%2F10%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=78850281094"
driver.get(url)
time.sleep(30)

In [10]:
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [11]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [12]:
df2=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})

In [13]:
df2['date_of_journey'] = '24-10-2021'

In [14]:
df2

,airline,source,destination,duration,total_stops,price,date_of_journey
0,Air Asia,05:20\nNew Delhi,11:20\nMumbai,6h 00m,1 Stop,"5,953",24-10-2021
1,Air Asia,08:00\nNew Delhi,14:35\nMumbai,6h 35m,1 Stop,"5,953",24-10-2021
2,Air Asia,09:25\nNew Delhi,16:00\nMumbai,6h 35m,1 Stop,"5,953",24-10-2021
3,Air Asia,08:00\nNew Delhi,16:35\nMumbai,8h 35m,1 Stop,"5,953",24-10-2021
4,Air Asia,18:40\nNew Delhi,06:20\n+ 1 day\nMumbai,11h 40m,1 Stop,"5,953",24-10-2021
...,...,...,...,...,...,...,...
137,Vistara,08:15\nNew Delhi,21:45\nMumbai,13h 30m,1 Stop,"16,665",24-10-2021
138,Go First,08:10\nNew Delhi,13:00\nMumbai,4h 50m,1 Stop,"16,732",24-10-2021
139,Air India,12:10\nNew Delhi,17:10\nMumbai,5h 00m,1 Stop,"16,875",24-10-2021
140,Go First,12:20\nNew Delhi,18:15\nMumbai,5h 55m,1 Stop,"20,009",24-10-2021
141,Go First,11:20\nNew Delhi,18:15\nMumbai,6h 55m,1 Stop,"20,009",24-10-2021

In [15]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=25%2F10%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1397256396929"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [16]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [17]:
df3=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})

In [18]:
df3['date_of_journey'] = '25-10-2021'

In [19]:
df3

,airline,source,destination,duration,total_stops,price,date_of_journey
0,Air Asia,16:15\nNew Delhi,22:10\nMumbai,5h 55m,1 Stop,"5,953",25-10-2021
1,Air Asia,08:00\nNew Delhi,14:35\nMumbai,6h 35m,1 Stop,"5,953",25-10-2021
2,Air Asia,09:25\nNew Delhi,16:00\nMumbai,6h 35m,1 Stop,"5,953",25-10-2021
3,Air Asia,12:40\nNew Delhi,20:15\nMumbai,7h 35m,1 Stop,"5,953",25-10-2021
4,Air Asia,11:55\nNew Delhi,20:15\nMumbai,8h 20m,1 Stop,"5,953",25-10-2021
...,...,...,...,...,...,...,...
150,Vistara,06:20\nNew Delhi,20:20\nMumbai,14h 00m,1 Stop,"12,990",25-10-2021
151,Vistara,07:30\nNew Delhi,23:15\nMumbai,15h 45m,1 Stop,"12,990",25-10-2021
152,Vistara,20:30\nNew Delhi,12:30\n+ 1 day\nMumbai,16h 00m,1 Stop,"12,990",25-10-2021
153,Vistara,06:20\nNew Delhi,23:15\nMumbai,16h 55m,1 Stop,"12,990",25-10-2021
154,Air India,12:10\nNew Delhi,22:25\nMumbai,10h 15m,1 Stop,"14,303",25-10-2021

In [20]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=13%2F10%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1164599208433"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [21]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [22]:
df4=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})
df4['date_of_journey'] = '13-10-2021'

In [23]:
df4['date_of_journey'] = '13-10-2021'

In [24]:
df4

,airline,source,destination,duration,total_stops,price,date_of_journey
0,Go First,21:30\nNew Delhi,23:35\nMumbai,2h 05m,Non Stop,"5,954",13-10-2021
1,IndiGo,21:55\nNew Delhi,00:05\n+ 1 day\nMumbai,2h 10m,Non Stop,"5,955",13-10-2021
2,Air India,21:25\nNew Delhi,09:40\n+ 1 day\nMumbai,12h 15m,1 Stop,"10,680",13-10-2021
3,Air India,21:25\nNew Delhi,00:01\n+ 2 days\nMumbai,26h 36m,1 Stop,"10,680",13-10-2021

In [25]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=12%2F01%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1613901878073"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [26]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [27]:
df5=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})
df5['date_of_journey'] = '12-01-2022'

In [28]:
df5

,airline,source,destination,duration,total_stops,price,date_of_journey
0,SpiceJet,07:20\nNew Delhi,09:20\nMumbai,2h 00m,Non Stop,"2,456",12-01-2022
1,SpiceJet,18:50\nNew Delhi,20:50\nMumbai,2h 00m,Non Stop,"2,456",12-01-2022
2,SpiceJet,08:30\nNew Delhi,10:35\nMumbai,2h 05m,Non Stop,"2,456",12-01-2022
3,IndiGo,02:30\nNew Delhi,04:40\nMumbai,2h 10m,Non Stop,"2,456",12-01-2022
4,Air Asia,04:25\nNew Delhi,06:35\nMumbai,2h 10m,Non Stop,"2,456",12-01-2022
...,...,...,...,...,...,...,...
151,Go First,11:50\nNew Delhi,18:10\nMumbai,6h 20m,1 Stop,"10,833",12-01-2022
152,Go First,09:15\nNew Delhi,18:10\nMumbai,8h 55m,1 Stop,"10,833",12-01-2022
153,Vistara,11:10\nNew Delhi,14:45\n+ 1 day\nMumbai,27h 35m,1 Stop,"11,205",12-01-2022
154,Air India,15:05\nNew Delhi,18:15\nMumbai,3h 10m,1 Stop,"11,310",12-01-2022
155,Go First,10:45\nNew Delhi,19:40\nMumbai,8h 55m,1 Stop,"13,927",12-01-2022

In [29]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=06%2F11%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=241066543942"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [32]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [33]:
df5=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})
df5['date_of_journey'] = '06-11-2021'

In [34]:
df5

,airline,source,destination,duration,total_stops,price,date_of_journey
0,Air India,07:00\nNew Delhi,09:05\nMumbai,2h 05m,Non Stop,"4,931",06-11-2021
1,Air India,08:00\nNew Delhi,10:10\nMumbai,2h 10m,Non Stop,"4,931",06-11-2021
2,Air India,10:40\nNew Delhi,12:50\nMumbai,2h 10m,Non Stop,"5,416",06-11-2021
3,Air India,09:00\nNew Delhi,11:15\nMumbai,2h 15m,Non Stop,"5,416",06-11-2021
4,Air Asia,05:20\nNew Delhi,14:10\nMumbai,8h 50m,1 Stop,"5,953",06-11-2021
5,Air Asia,22:10\nNew Delhi,12:25\n+ 1 day\nMumbai,14h 15m,1 Stop,"5,953",06-11-2021
6,Go First,07:00\nNew Delhi,09:10\nMumbai,2h 10m,Non Stop,"5,954",06-11-2021
7,Go First,08:00\nNew Delhi,10:10\nMumbai,2h 10m,Non Stop,"5,954",06-11-2021
8,Go First,22:30\nNew Delhi,00:40\n+ 1 day\nMumbai,2h 10m,Non Stop,"5,954",06-11-2021
9,Go First,02:40\nNew Delhi,04:55\nMumbai,2h 15m,Non Stop,"5,954",06-11-2021
10,Go First,14:20\nNew Delhi,16:35\nMumbai,2h 15m,Non Stop,"5,954",06-11-2021
11,Go First,19:40\nNew Delhi,21:55\nMumbai,2h 15m,Non Stop,"5,954",06-11-2021
12,Go First,21:00\nNew Delhi,23:15\nMumbai,2h 15m,Non Stop,"5,954",06-11-2021
13,Go First,10:30\nNew Delhi,12:50\nMumbai,2h 20m,Non Stop,"5,954",06-11-2021
14,Go First,15:00\nNew Delhi,17:30\nMumbai,2h 30m,Non Stop,"5,954",06-11-2021
15,Go First,17:55\nNew Delhi,20:25\nMumbai,2h 30m,Non Stop,"5,954",06-11-2021
16,Go First,06:00\nNew Delhi,10:40\nMumbai,4h 40m,1 Stop,"5,954",06-11-2021
17,Go First,15:30\nNew Delhi,21:25\nMumbai,5h 55m,1 Stop,"5,954",06-11-2021
18,Go First,19:40\nNew Delhi,02:00\n+ 1 day\nMumbai,6h 20m,1 Stop,"5,954",06-11-2021
19,Go First,06:00\nNew Delhi,12:30\nMumbai,6h 30m,1 Stop,"5,954",06-11-2021
20,Go First,09:00\nNew Delhi,15:55\nMumbai,6h 55m,1 Stop,"5,954",06-11-2021
21,Vistara,06:00\nNew Delhi,08:00\nMumbai,2h 00m,Non Stop,"5,955",06-11-2021
22,IndiGo,06:30\nNew Delhi,08:40\nMumbai,2h 10m,Non Stop,"5,955",06-11-2021
23,IndiGo,07:15\nNew Delhi,09:25\nMumbai,2h 10m,Non Stop,"5,955",06-11-2021
24,IndiGo,08:10\nNew Delhi,10:20\nMumbai,2h 10m,Non Stop,"5,955",06-11-2021

In [37]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=13%2F11%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1121452992302"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [38]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [39]:
df6=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})
df6['date_of_journey'] = '13-11-2021'

In [40]:
df6

,airline,source,destination,duration,total_stops,price,date_of_journey
0,IndiGo,04:45\nNew Delhi,07:10\nMumbai,2h 25m,Non Stop,"2,456",13-11-2021
1,Air Asia,04:25\nNew Delhi,06:35\nMumbai,2h 10m,Non Stop,"2,757",13-11-2021
2,IndiGo,06:30\nNew Delhi,08:40\nMumbai,2h 10m,Non Stop,"2,791",13-11-2021
3,Vistara,06:00\nNew Delhi,08:00\nMumbai,2h 00m,Non Stop,"3,026",13-11-2021
4,SpiceJet,06:30\nNew Delhi,08:50\nMumbai,2h 20m,Non Stop,"3,086",13-11-2021
...,...,...,...,...,...,...,...
137,Air India,10:55\nNew Delhi,16:35\nMumbai,5h 40m,1 Stop,"18,282",13-11-2021
138,Air India,10:55\nNew Delhi,22:25\nMumbai,11h 30m,1 Stop,"19,343",13-11-2021
139,Air Asia,12:40\nNew Delhi,02:25\n+ 1 day\nMumbai,13h 45m,1 Stop,"22,270",13-11-2021
140,Go First,11:50\nNew Delhi,18:10\nMumbai,6h 20m,1 Stop,"23,384",13-11-2021
141,Go First,09:15\nNew Delhi,18:10\nMumbai,8h 55m,1 Stop,"23,384",13-11-2021

In [66]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=20%2F11%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=775780048010"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]
y = 1000000
for timer in range(0,):
    driver.execute_script("window.scrollTo(0, "+str(y)+")")
    y += 1000000  
time.sleep(1)

In [67]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [68]:
df7=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})
df7['date_of_journey'] = '20-11-2021'

In [69]:
df7

,airline,source,destination,duration,total_stops,price,date_of_journey
0,Air Asia,04:25\nNew Delhi,06:35\nMumbai,2h 10m,Non Stop,"2,456",20-11-2021
1,IndiGo,06:30\nNew Delhi,08:40\nMumbai,2h 10m,Non Stop,"2,456",20-11-2021
2,Go First,07:00\nNew Delhi,09:10\nMumbai,2h 10m,Non Stop,"2,456",20-11-2021
3,IndiGo,07:15\nNew Delhi,09:25\nMumbai,2h 10m,Non Stop,"2,456",20-11-2021
4,Go First,08:00\nNew Delhi,10:10\nMumbai,2h 10m,Non Stop,"2,456",20-11-2021
5,Go First,02:40\nNew Delhi,04:55\nMumbai,2h 15m,Non Stop,"2,456",20-11-2021
6,SpiceJet,07:20\nNew Delhi,09:35\nMumbai,2h 15m,Non Stop,"2,456",20-11-2021
7,Air Asia,20:00\nNew Delhi,22:15\nMumbai,2h 15m,Non Stop,"2,456",20-11-2021
8,SpiceJet,06:30\nNew Delhi,08:50\nMumbai,2h 20m,Non Stop,"2,456",20-11-2021
9,IndiGo,10:45\nNew Delhi,13:05\nMumbai,2h 20m,Non Stop,"2,456",20-11-2021
10,IndiGo,05:30\nNew Delhi,10:55\nMumbai,5h 25m,1 Stop,"2,456",20-11-2021
11,Air India,07:00\nNew Delhi,09:05\nMumbai,2h 05m,Non Stop,"2,476",20-11-2021
12,Vistara,06:00\nNew Delhi,08:00\nMumbai,2h 00m,Non Stop,"2,501",20-11-2021
13,Go First,21:00\nNew Delhi,23:15\nMumbai,2h 15m,Non Stop,"2,790",20-11-2021
14,Air India,08:00\nNew Delhi,10:10\nMumbai,2h 10m,Non Stop,"2,791",20-11-2021
15,IndiGo,23:15\nNew Delhi,01:25\n+ 1 day\nMumbai,2h 10m,Non Stop,"2,791",20-11-2021
16,IndiGo,08:45\nNew Delhi,11:00\nMumbai,2h 15m,Non Stop,"2,791",20-11-2021
17,IndiGo,14:20\nNew Delhi,16:35\nMumbai,2h 15m,Non Stop,"2,791",20-11-2021
18,IndiGo,04:45\nNew Delhi,07:10\nMumbai,2h 25m,Non Stop,"2,791",20-11-2021
19,IndiGo,17:15\nNew Delhi,19:25\nMumbai,2h 10m,Non Stop,"3,001",20-11-2021
20,IndiGo,01:05\nNew Delhi,03:20\nMumbai,2h 15m,Non Stop,"3,001",20-11-2021
21,Vistara,09:30\nNew Delhi,11:40\nMumbai,2h 10m,Non Stop,"3,026",20-11-2021
22,Vistara,12:50\nNew Delhi,15:00\nMumbai,2h 10m,Non Stop,"3,026",20-11-2021
23,Vistara,15:30\nNew Delhi,17:40\nMumbai,2h 10m,Non Stop,"3,026",20-11-2021
24,Vistara,19:50\nNew Delhi,22:00\nMumbai,2h 10m,Non Stop,"3,026",20-11-2021
25,Vistara,20:40\nNew Delhi,22:50\nMumbai,2h 10m,Non Stop,"3,026",20-11-2021
26,Vistara,21:40\nNew Delhi,23:50\nMumbai,2h 10m,Non Stop,"3,026",20-11-2021
27,Vistara,10:20\nNew Delhi,12:35\nMumbai,2h 15m,Non Stop,"3,026",20-11-2021
28,Vistara,11:40\nNew Delhi,14:00\nMumbai,2h 20m,Non Stop,"3,026",20-11-2021
29,IndiGo,12:55\nNew Delhi,17:50\nMumbai,4h 55m,1 Stop,"3,054",20-11-2021
30,SpiceJet,18:50\nNew Delhi,21:05\nMumbai,2h 15m,Non Stop,"3,086",20-11-2021
31,Go First,22:30\nNew Delhi,00:40\n+ 1 day\nMumbai,2h 10m,Non Stop,"3,088",20-11-2021
32,Go First,17:55\nNew Delhi,20:25\nMumbai,2h 30m,Non Stop,"3,088",20-11-2021
33,Air India,10:40\nNew Delhi,12:50\nMumbai,2h 10m,Non Stop,"3,211",20-11-2021
34,Air India,09:00\nNew Delhi,11:15\nMumbai,2h 15m,Non Stop,"3,211",20-11-2021
35,Vistara,16:55\nNew Delhi,19:05\nMumbai,2h 10m,Non Stop,"3,236",20-11-2021
36,Vistara,08:50\nNew Delhi,11:10\nMumbai,2h 20m,Non Stop,"3,525",20-11-2021
37,Vistara,17:45\nNew Delhi,20:05\nMumbai,2h 20m,Non Stop,"3,525",20-11-2021
38,Vistara,18:55\nNew Delhi,21:15\nMumbai,2h 20m,Non Stop,"3,525",20-11-2021
39,Go First,10:30\nNew Delhi,12:50\nMumbai,2h 20m,Non Stop,"3,569",20-11-2021
40,Go First,15:00\nNew Delhi,17:30\nMumbai,2h 30m,Non Stop,"3,569",20-11-2021
41,IndiGo,08:10\nNew Delhi,10:20\nMumbai,2h 10m,Non Stop,"3,570",20-11-2021
42,IndiGo,12:00\nNew Delhi,14:10\nMumbai,2h 10m,Non Stop,"3,570",20-11-2021
43,IndiGo,09:30\nNew Delhi,11:45\nMumbai,2h 15m,Non Stop,"3,570",20-11-2021
44,IndiGo,21:15\nNew Delhi,23:30\nMumbai,2h 15m,Non Stop,"3,570",20-11-2021

In [70]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=27%2F11%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=353658013410"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [71]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [74]:
df8=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})
df8['date_of_journey'] = '2-11-2021'

In [75]:
df8

,airline,source,destination,duration,total_stops,price,date_of_journey
0,Air Asia,04:25\nNew Delhi,06:35\nMumbai,2h 10m,Non Stop,"2,456",2-11-2021
1,IndiGo,06:30\nNew Delhi,08:40\nMumbai,2h 10m,Non Stop,"2,456",2-11-2021
2,Go First,07:00\nNew Delhi,09:10\nMumbai,2h 10m,Non Stop,"2,456",2-11-2021
3,IndiGo,07:15\nNew Delhi,09:25\nMumbai,2h 10m,Non Stop,"2,456",2-11-2021
4,Go First,08:00\nNew Delhi,10:10\nMumbai,2h 10m,Non Stop,"2,456",2-11-2021
...,...,...,...,...,...,...,...
142,Go First,11:50\nNew Delhi,18:10\nMumbai,6h 20m,1 Stop,"9,399",2-11-2021
143,Vistara,17:25\nNew Delhi,09:00\n+ 1 day\nMumbai,15h 35m,1 Stop,"10,002",2-11-2021
144,Vistara,17:25\nNew Delhi,11:40\n+ 1 day\nMumbai,18h 15m,1 Stop,"10,002",2-11-2021
145,Vistara,17:25\nNew Delhi,14:30\n+ 1 day\nMumbai,21h 05m,1 Stop,"10,002",2-11-2021
146,Air India,15:05\nNew Delhi,18:15\nMumbai,3h 10m,1 Stop,"11,310",2-11-2021

In [82]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F12%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1451862689157"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [83]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [84]:
df9=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})
df9['date_of_journey'] = '04-12-2021'

In [85]:
df9

,airline,source,destination,duration,total_stops,price,date_of_journey
0,Air Asia,04:25\nNew Delhi,06:35\nMumbai,2h 10m,Non Stop,"2,456",04-12-2021
1,Go First,07:00\nNew Delhi,09:10\nMumbai,2h 10m,Non Stop,"2,456",04-12-2021
2,Go First,08:00\nNew Delhi,10:10\nMumbai,2h 10m,Non Stop,"2,456",04-12-2021
3,Go First,22:30\nNew Delhi,00:40\n+ 1 day\nMumbai,2h 10m,Non Stop,"2,456",04-12-2021
4,Go First,02:40\nNew Delhi,04:55\nMumbai,2h 15m,Non Stop,"2,456",04-12-2021
...,...,...,...,...,...,...,...
140,Go First,09:15\nNew Delhi,18:10\nMumbai,8h 55m,1 Stop,"10,833",04-12-2021
141,Air India,10:55\nNew Delhi,16:35\nMumbai,5h 40m,1 Stop,"10,968",04-12-2021
142,Air India,15:05\nNew Delhi,18:15\nMumbai,3h 10m,1 Stop,"11,310",04-12-2021
143,Go First,10:45\nNew Delhi,19:40\nMumbai,8h 55m,1 Stop,"13,954",04-12-2021
144,Go First,10:45\nNew Delhi,18:20\nMumbai,7h 35m,1 Stop,"14,794",04-12-2021

In [86]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=11%2F12%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=132585783146"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [88]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [89]:
df10=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})

In [93]:
df10['date_of_journey'] = '11-12-2021'

In [94]:
df10

,airline,source,destination,duration,total_stops,price,date_of_journey
0,IndiGo,02:30\nNew Delhi,04:40\nMumbai,2h 10m,Non Stop,"2,456",11-12-2021
1,Air Asia,04:25\nNew Delhi,06:35\nMumbai,2h 10m,Non Stop,"2,456",11-12-2021
2,Go First,07:00\nNew Delhi,09:10\nMumbai,2h 10m,Non Stop,"2,456",11-12-2021
3,Go First,08:00\nNew Delhi,10:10\nMumbai,2h 10m,Non Stop,"2,456",11-12-2021
4,Go First,22:30\nNew Delhi,00:40\n+ 1 day\nMumbai,2h 10m,Non Stop,"2,456",11-12-2021
...,...,...,...,...,...,...,...
142,Go First,10:45\nNew Delhi,18:20\nMumbai,7h 35m,1 Stop,"10,225",11-12-2021
143,Go First,10:45\nNew Delhi,19:40\nMumbai,8h 55m,1 Stop,"10,225",11-12-2021
144,Go First,09:15\nNew Delhi,18:10\nMumbai,8h 55m,1 Stop,"10,353",11-12-2021
145,Go First,11:50\nNew Delhi,18:10\nMumbai,6h 20m,1 Stop,"10,833",11-12-2021
146,Air India,15:05\nNew Delhi,18:15\nMumbai,3h 10m,1 Stop,"11,310",11-12-2021

In [91]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=11%2F12%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=132585783146"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [92]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [95]:
df11=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})
df11['date_of_journey'] = '18-12-2021'

In [96]:
df11

,airline,source,destination,duration,total_stops,price,date_of_journey
0,IndiGo,02:30\nNew Delhi,04:40\nMumbai,2h 10m,Non Stop,"2,456",18-12-2021
1,Air Asia,04:25\nNew Delhi,06:35\nMumbai,2h 10m,Non Stop,"2,456",18-12-2021
2,Go First,07:00\nNew Delhi,09:10\nMumbai,2h 10m,Non Stop,"2,456",18-12-2021
3,Go First,08:00\nNew Delhi,10:10\nMumbai,2h 10m,Non Stop,"2,456",18-12-2021
4,Go First,22:30\nNew Delhi,00:40\n+ 1 day\nMumbai,2h 10m,Non Stop,"2,456",18-12-2021
...,...,...,...,...,...,...,...
142,Go First,10:45\nNew Delhi,18:20\nMumbai,7h 35m,1 Stop,"10,225",18-12-2021
143,Go First,10:45\nNew Delhi,19:40\nMumbai,8h 55m,1 Stop,"10,225",18-12-2021
144,Go First,09:15\nNew Delhi,18:10\nMumbai,8h 55m,1 Stop,"10,353",18-12-2021
145,Go First,11:50\nNew Delhi,18:10\nMumbai,6h 20m,1 Stop,"10,833",18-12-2021
146,Air India,15:05\nNew Delhi,18:15\nMumbai,3h 10m,1 Stop,"11,310",18-12-2021

In [97]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=25%2F12%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=802217215276"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [98]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [99]:
df12=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})
df12['date_of_journey'] = '25-12-2021'

In [100]:
df12

,airline,source,destination,duration,total_stops,price,date_of_journey
0,Go First,07:00\nNew Delhi,09:10\nMumbai,2h 10m,Non Stop,"2,456",25-12-2021
1,Go First,22:30\nNew Delhi,00:40\n+ 1 day\nMumbai,2h 10m,Non Stop,"2,456",25-12-2021
2,Go First,02:40\nNew Delhi,04:55\nMumbai,2h 15m,Non Stop,"2,456",25-12-2021
3,SpiceJet,18:50\nNew Delhi,21:05\nMumbai,2h 15m,Non Stop,"2,456",25-12-2021
4,Go First,21:00\nNew Delhi,23:15\nMumbai,2h 15m,Non Stop,"2,456",25-12-2021
...,...,...,...,...,...,...,...
133,Go First,09:15\nNew Delhi,18:10\nMumbai,8h 55m,1 Stop,"10,833",25-12-2021
134,Air India,15:05\nNew Delhi,18:15\nMumbai,3h 10m,1 Stop,"11,310",25-12-2021
135,Air Asia,12:40\nNew Delhi,02:25\n+ 1 day\nMumbai,13h 45m,1 Stop,"12,744",25-12-2021
136,Go First,10:45\nNew Delhi,18:20\nMumbai,7h 35m,1 Stop,"13,954",25-12-2021
137,Go First,10:45\nNew Delhi,19:40\nMumbai,8h 55m,1 Stop,"14,268",25-12-2021

In [101]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=26%2F12%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=749417428729"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [102]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [103]:
df13=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})
df13['date_of_journey'] = '26-12-2021'

In [104]:
df13

,airline,source,destination,duration,total_stops,price,date_of_journey
0,SpiceJet,07:30\nNew Delhi,08:50\nMumbai,1h 20m,Non Stop,"2,456",26-12-2021
1,Air Asia,04:25\nNew Delhi,06:35\nMumbai,2h 10m,Non Stop,"2,456",26-12-2021
2,Go First,07:00\nNew Delhi,09:10\nMumbai,2h 10m,Non Stop,"2,456",26-12-2021
3,Go First,08:00\nNew Delhi,10:10\nMumbai,2h 10m,Non Stop,"2,456",26-12-2021
4,Go First,22:30\nNew Delhi,00:40\n+ 1 day\nMumbai,2h 10m,Non Stop,"2,456",26-12-2021
5,Go First,02:40\nNew Delhi,04:55\nMumbai,2h 15m,Non Stop,"2,456",26-12-2021
6,SpiceJet,07:20\nNew Delhi,09:35\nMumbai,2h 15m,Non Stop,"2,456",26-12-2021
7,SpiceJet,18:50\nNew Delhi,21:05\nMumbai,2h 15m,Non Stop,"2,456",26-12-2021
8,Go First,19:40\nNew Delhi,21:55\nMumbai,2h 15m,Non Stop,"2,456",26-12-2021
9,Go First,21:00\nNew Delhi,23:15\nMumbai,2h 15m,Non Stop,"2,456",26-12-2021
10,SpiceJet,19:45\nNew Delhi,22:05\nMumbai,2h 20m,Non Stop,"2,456",26-12-2021
11,Air India,07:00\nNew Delhi,09:05\nMumbai,2h 05m,Non Stop,"2,476",26-12-2021
12,Air India,08:00\nNew Delhi,10:10\nMumbai,2h 10m,Non Stop,"2,476",26-12-2021
13,Air India,09:00\nNew Delhi,11:15\nMumbai,2h 15m,Non Stop,"2,476",26-12-2021
14,Air India,17:50\nNew Delhi,21:35\nMumbai,3h 45m,1 Stop,"2,476",26-12-2021
15,Vistara,20:40\nNew Delhi,22:50\nMumbai,2h 10m,Non Stop,"2,556",26-12-2021
16,Vistara,21:40\nNew Delhi,23:50\nMumbai,2h 10m,Non Stop,"2,556",26-12-2021
17,Air Asia,20:00\nNew Delhi,22:15\nMumbai,2h 15m,Non Stop,"2,757",26-12-2021
18,Go First,14:20\nNew Delhi,16:35\nMumbai,2h 15m,Non Stop,"2,790",26-12-2021
19,Go First,10:30\nNew Delhi,12:50\nMumbai,2h 20m,Non Stop,"2,790",26-12-2021
20,Go First,15:00\nNew Delhi,17:30\nMumbai,2h 30m,Non Stop,"2,790",26-12-2021
21,Air India,10:40\nNew Delhi,12:50\nMumbai,2h 10m,Non Stop,"2,791",26-12-2021
22,Air India,20:00\nNew Delhi,22:10\nMumbai,2h 10m,Non Stop,"2,791",26-12-2021
23,Air India,19:00\nNew Delhi,21:15\nMumbai,2h 15m,Non Stop,"2,791",26-12-2021
24,IndiGo,02:30\nNew Delhi,04:40\nMumbai,2h 10m,Non Stop,"3,001",26-12-2021

In [105]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=26%2F12%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=102777464902"
driver.get(url)
time.sleep(30)
airline =[]
source =[]
destination = []
departure_time=[]
arrival_time = []
duration = []
total_stops =[]
price =[]

In [106]:
airlines=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    if i.text is None :
        airline.append("--") 
    else:
        airline.append(i.text)
sources=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
departures=driver.find_elements_by_xpath("//div[@class='grid']/div[3]")
for i in departures:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
total_time =driver.find_elements_by_xpath("//div[@class='stop-det bdr-btm pb-5 v-aligm-t text-left']/div/p")
for i in total_time:
    if i.text is None :
        duration.append("--") 
    else:
        duration.append(i.text)
stops =driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
fare =driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in fare:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [107]:
df14=pd.DataFrame({'airline':airline,
                 'source':source,
                'destination':destination,
                'duration':duration,
                'total_stops':total_stops,
                'price':price})
df14['date_of_journey'] = '27-12-2021'

In [108]:
df14

,airline,source,destination,duration,total_stops,price,date_of_journey
0,SpiceJet,07:30\nNew Delhi,08:50\nMumbai,1h 20m,Non Stop,"2,456",27-12-2021
1,Air Asia,04:25\nNew Delhi,06:35\nMumbai,2h 10m,Non Stop,"2,456",27-12-2021
2,Go First,07:00\nNew Delhi,09:10\nMumbai,2h 10m,Non Stop,"2,456",27-12-2021
3,Go First,08:00\nNew Delhi,10:10\nMumbai,2h 10m,Non Stop,"2,456",27-12-2021
4,Go First,22:30\nNew Delhi,00:40\n+ 1 day\nMumbai,2h 10m,Non Stop,"2,456",27-12-2021
...,...,...,...,...,...,...,...
146,Air Asia,12:10\nNew Delhi,02:25\n+ 1 day\nMumbai,14h 15m,1 Stop,"16,313",27-12-2021
147,Air India,10:55\nNew Delhi,00:35\n+ 1 day\nMumbai,13h 40m,1 Stop,"17,127",27-12-2021
148,Air India,10:55\nNew Delhi,08:45\n+ 1 day\nMumbai,21h 50m,1 Stop,"17,127",27-12-2021
149,Air India,10:55\nNew Delhi,16:35\nMumbai,5h 40m,1 Stop,"18,282",27-12-2021
150,Air India,10:55\nNew Delhi,22:25\nMumbai,11h 30m,1 Stop,"19,343",27-12-2021

In [109]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14])

In [110]:
df

,airline,source,destination,duration,total_stops,price,date_of_journey
0,Air Asia,09:25\nNew Delhi,16:00\nMumbai,6h 35m,1 Stop,"5,953",23-10-2021
1,Air Asia,12:40\nNew Delhi,20:15\nMumbai,7h 35m,1 Stop,"5,953",23-10-2021
2,Air Asia,11:55\nNew Delhi,20:15\nMumbai,8h 20m,1 Stop,"5,953",23-10-2021
3,Air Asia,18:40\nNew Delhi,06:20\n+ 1 day\nMumbai,11h 40m,1 Stop,"5,953",23-10-2021
4,Air Asia,08:00\nNew Delhi,22:10\nMumbai,14h 10m,1 Stop,"5,953",23-10-2021
...,...,...,...,...,...,...,...
146,Air Asia,12:10\nNew Delhi,02:25\n+ 1 day\nMumbai,14h 15m,1 Stop,"16,313",27-12-2021
147,Air India,10:55\nNew Delhi,00:35\n+ 1 day\nMumbai,13h 40m,1 Stop,"17,127",27-12-2021
148,Air India,10:55\nNew Delhi,08:45\n+ 1 day\nMumbai,21h 50m,1 Stop,"17,127",27-12-2021
149,Air India,10:55\nNew Delhi,16:35\nMumbai,5h 40m,1 Stop,"18,282",27-12-2021
150,Air India,10:55\nNew Delhi,22:25\nMumbai,11h 30m,1 Stop,"19,343",27-12-2021

In [132]:
df.to_csv(r'C:\Users\Hp\OneDrive\pooja\web_flight.csv',header=True)

In [133]:
import pandas as pd

In [134]:
df = pd.read_csv("web_flight.csv")

In [135]:
df

,Unnamed: 0,airline,source,destination,duration,total_stops,price,date_of_journey
0,0,Air Asia,09:25\nNew Delhi,16:00\nMumbai,6h 35m,1 Stop,"5,953",23-10-2021
1,1,Air Asia,12:40\nNew Delhi,20:15\nMumbai,7h 35m,1 Stop,"5,953",23-10-2021
2,2,Air Asia,11:55\nNew Delhi,20:15\nMumbai,8h 20m,1 Stop,"5,953",23-10-2021
3,3,Air Asia,18:40\nNew Delhi,06:20\n+ 1 day\nMumbai,11h 40m,1 Stop,"5,953",23-10-2021
4,4,Air Asia,08:00\nNew Delhi,22:10\nMumbai,14h 10m,1 Stop,"5,953",23-10-2021
...,...,...,...,...,...,...,...,...
1639,146,Air Asia,12:10\nNew Delhi,02:25\n+ 1 day\nMumbai,14h 15m,1 Stop,"16,313",27-12-2021
1640,147,Air India,10:55\nNew Delhi,00:35\n+ 1 day\nMumbai,13h 40m,1 Stop,"17,127",27-12-2021
1641,148,Air India,10:55\nNew Delhi,08:45\n+ 1 day\nMumbai,21h 50m,1 Stop,"17,127",27-12-2021
1642,149,Air India,10:55\nNew Delhi,16:35\nMumbai,5h 40m,1 Stop,"18,282",27-12-2021
1643,150,Air India,10:55\nNew Delhi,22:25\nMumbai,11h 30m,1 Stop,"19,343",27-12-2021

In [136]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [137]:
df[['depature_time', 'sources']] = df['source'].str.split('\n', 1, expand=True)

In [138]:
df

,airline,source,destination,duration,total_stops,price,date_of_journey,depature_time,sources
0,Air Asia,09:25\nNew Delhi,16:00\nMumbai,6h 35m,1 Stop,"5,953",23-10-2021,09:25,New Delhi
1,Air Asia,12:40\nNew Delhi,20:15\nMumbai,7h 35m,1 Stop,"5,953",23-10-2021,12:40,New Delhi
2,Air Asia,11:55\nNew Delhi,20:15\nMumbai,8h 20m,1 Stop,"5,953",23-10-2021,11:55,New Delhi
3,Air Asia,18:40\nNew Delhi,06:20\n+ 1 day\nMumbai,11h 40m,1 Stop,"5,953",23-10-2021,18:40,New Delhi
4,Air Asia,08:00\nNew Delhi,22:10\nMumbai,14h 10m,1 Stop,"5,953",23-10-2021,08:00,New Delhi
...,...,...,...,...,...,...,...,...,...
1639,Air Asia,12:10\nNew Delhi,02:25\n+ 1 day\nMumbai,14h 15m,1 Stop,"16,313",27-12-2021,12:10,New Delhi
1640,Air India,10:55\nNew Delhi,00:35\n+ 1 day\nMumbai,13h 40m,1 Stop,"17,127",27-12-2021,10:55,New Delhi
1641,Air India,10:55\nNew Delhi,08:45\n+ 1 day\nMumbai,21h 50m,1 Stop,"17,127",27-12-2021,10:55,New Delhi
1642,Air India,10:55\nNew Delhi,16:35\nMumbai,5h 40m,1 Stop,"18,282",27-12-2021,10:55,New Delhi
1643,Air India,10:55\nNew Delhi,22:25\nMumbai,11h 30m,1 Stop,"19,343",27-12-2021,10:55,New Delhi

In [139]:
df[['arrival_time', 'desinations']] = df['destination'].str.split('\n', 1, expand=True)

In [140]:
df

,airline,source,destination,duration,total_stops,price,date_of_journey,depature_time,sources,arrival_time,desinations
0,Air Asia,09:25\nNew Delhi,16:00\nMumbai,6h 35m,1 Stop,"5,953",23-10-2021,09:25,New Delhi,16:00,Mumbai
1,Air Asia,12:40\nNew Delhi,20:15\nMumbai,7h 35m,1 Stop,"5,953",23-10-2021,12:40,New Delhi,20:15,Mumbai
2,Air Asia,11:55\nNew Delhi,20:15\nMumbai,8h 20m,1 Stop,"5,953",23-10-2021,11:55,New Delhi,20:15,Mumbai
3,Air Asia,18:40\nNew Delhi,06:20\n+ 1 day\nMumbai,11h 40m,1 Stop,"5,953",23-10-2021,18:40,New Delhi,06:20,+ 1 day\nMumbai
4,Air Asia,08:00\nNew Delhi,22:10\nMumbai,14h 10m,1 Stop,"5,953",23-10-2021,08:00,New Delhi,22:10,Mumbai
...,...,...,...,...,...,...,...,...,...,...,...
1639,Air Asia,12:10\nNew Delhi,02:25\n+ 1 day\nMumbai,14h 15m,1 Stop,"16,313",27-12-2021,12:10,New Delhi,02:25,+ 1 day\nMumbai
1640,Air India,10:55\nNew Delhi,00:35\n+ 1 day\nMumbai,13h 40m,1 Stop,"17,127",27-12-2021,10:55,New Delhi,00:35,+ 1 day\nMumbai
1641,Air India,10:55\nNew Delhi,08:45\n+ 1 day\nMumbai,21h 50m,1 Stop,"17,127",27-12-2021,10:55,New Delhi,08:45,+ 1 day\nMumbai
1642,Air India,10:55\nNew Delhi,16:35\nMumbai,5h 40m,1 Stop,"18,282",27-12-2021,10:55,New Delhi,16:35,Mumbai
1643,Air India,10:55\nNew Delhi,22:25\nMumbai,11h 30m,1 Stop,"19,343",27-12-2021,10:55,New Delhi,22:25,Mumbai

In [147]:
df.drop(columns ={'source','destination'},inplace = True)

In [148]:
df

,airline,duration,total_stops,price,date_of_journey,depature_time,sources,arrival_time,desinations
0,Air Asia,6h 35m,1 Stop,"5,953",23-10-2021,09:25,New Delhi,16:00,Mumbai
1,Air Asia,7h 35m,1 Stop,"5,953",23-10-2021,12:40,New Delhi,20:15,Mumbai
2,Air Asia,8h 20m,1 Stop,"5,953",23-10-2021,11:55,New Delhi,20:15,Mumbai
3,Air Asia,11h 40m,1 Stop,"5,953",23-10-2021,18:40,New Delhi,06:20,+ 1 day\nMumbai
4,Air Asia,14h 10m,1 Stop,"5,953",23-10-2021,08:00,New Delhi,22:10,Mumbai
...,...,...,...,...,...,...,...,...,...
1639,Air Asia,14h 15m,1 Stop,"16,313",27-12-2021,12:10,New Delhi,02:25,+ 1 day\nMumbai
1640,Air India,13h 40m,1 Stop,"17,127",27-12-2021,10:55,New Delhi,00:35,+ 1 day\nMumbai
1641,Air India,21h 50m,1 Stop,"17,127",27-12-2021,10:55,New Delhi,08:45,+ 1 day\nMumbai
1642,Air India,5h 40m,1 Stop,"18,282",27-12-2021,10:55,New Delhi,16:35,Mumbai
1643,Air India,11h 30m,1 Stop,"19,343",27-12-2021,10:55,New Delhi,22:25,Mumbai

In [149]:
df.to_csv(r'C:\Users\Hp\OneDrive\pooja\web_flight_final.csv',header=True)